<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Text</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
<body>
    <h1>Submission</h1>
    <form action="/submit" method="POST">
        <label for="text">Enter Study:</label>
        <input type="text" id="study" name="study" required>
        <input type="text" id="text" name="text" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>